[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Labs Launcher
Comment=Minimalist App Grid Launcher
Icon=labs-launcher
X-XFCE-Module=labs-launcher
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
