[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Vexto Launcher
Comment=Minimalist App Grid Launcher
Icon=vexto-launcher
X-XFCE-Module=vexto-launcher
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
